@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
#sub-nav {
	background-color: #373b42;
	padding-top: 2vh;
	padding-bottom: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 45px;
}

main {
	background-color: #4b4e53;
	height: 90vh;
}

.sub-nav-link {
	text-decoration: none;
	color: #FFFFFF;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
}

#get-started{
	font-family: 'Oswald', 'sans-serif';
	font-size: 40px;
	margin: 20px 0px 20px 0px;
}

hr {
	margin-right: 5vw;
	margin-left: 5vw;
	border-color: #000;
	background-color: #000;
}

#starter-text {
	margin-right: 7.5vw;
	margin-left: 7.5vw;
	font-size : 25px;
	font-family: 'Comfortaa', sans-serif;
	color: white;
	text-decoration: none;
}

#newStandard {
	margin-top: 20px;
}

label {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}

#submit {
	font-size: 17.5px;
	font-family: 'Oswald', sans-serif;
}

#newTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	margin-bottom: 0px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

thead {
	display: table-header-group
}

tbody {
	display: table-row-group;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

ul {
	display: block;
	margin: auto;
	text-align: center;
}

#btm-link {
	margin-bottom: 20px;
}

.link {
	color: black;
	text-decoration: none;
}

#item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

button {
	background-color: red;
}

